.git
.github
.platform
.terraform
infra
outputs
work
dist
node_modules
coverage
reports
art
apple
**/.build
**/.swiftpm
README.md
gha-creds-*.json
.env
.env.*
.npmrc
npmrc
_platform_policy
platform-source
