<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ .Site.Title }}</title>
  <!-- Mapbox Requirement -->
  <link href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />
  <!-- Site CSS -->
  <link rel="stylesheet" href="css/mystyles.css">
  <!-- Mobile menu requirements -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="/js/typeform.js"></script>
  <script src="/js/toggle.js"></script>

  <!-- Mapbox requirements -->
  <script src='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js'></script>
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>
