<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ .Site.Title }}</title>
  <!-- Mapbox Requirement -->
  <link href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />
  <!-- Site CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
  <!-- Combine all CSS partials in assets/ and fingerprint -->
  {{ $style := resources.Get "scss/main.scss" }}
  {{ $components := resources.Match "scss/components/*.scss" }}
  {{ range $components }}
    {{ $style = slice $style . | resources.Concat .Name }}
  {{ end }}
  {{ $style = slice $style | resources.Concat "all.css" | toCSS | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $style.Permalink }}">
  <!-- Mobile menu requirements -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="/js/toggle.js"></script>
  <!-- Mapbox requirements -->
  <script src='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js'></script>
</head>
