@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700&display=swap');

// Set your brand colors
$purple: #8A4D76;
$blue: #1C6E8C;
$brown: #605856;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;

// Update Bulma's global variables
$family-sans-serif: "Roboto", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $brown;
$link: $blue;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: #FFFFFF;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

section.active {
  opacity: 1;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

.box-item {
  opacity: .1;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

section:last-child {
  border-bottom: none;
  margin-bottom: 200px;
}

.marker {
  background-image: url('/images/marker.png');
  background-size: cover;
  filter: invert(32%) sepia(1%) saturate(2785%) hue-rotate(324deg) brightness(101%) contrast(87%);
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.image-credit-wrapper {
  overflow: hidden;
  position: relative;
  padding-top: .7em;
}

.image-credit-wrapper .image-credit {
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.button {
  border-width: 1px !important;
}

.image-credit {
  background: rgba(0,0,0,.7);
  color: #ccc;
  display: inline-block;
  font-size: 0.6em;
  padding: 2px 6px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.navbar-brand {
  color: $primary;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 1.1em;
  padding-left: 8px;
}

.navbar-end {
  padding-right: 8px;
}

#top-button {
    padding-top: .5em;
  }

.close-icon {
  float:right;
}

.box {
  h3 {
    color: $primary;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 1.3em;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 20px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    width: 115%;
    background-color: white;
    //z-index: 1;
    margin-left: -20px;
  }
  p {
    padding-top: .5em;
    padding-bottom: .5em;
  }

  overflow-y:scroll;
  overflow-x: hidden;
  max-width: 400px;
  height:450px;
  filter: blur(0px);
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 0 !important;
  display: none;
}

@import "../mybulma/bulma-0.9.0/bulma.sass";
