.marker {
  background-image: url('/images/marker.png');
  background-size: cover;
  filter: invert(32%) sepia(1%) saturate(2785%) hue-rotate(324deg) brightness(101%) contrast(87%);
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.mapboxgl-popup-content {
  font-family: 'Roboto', sans-serif;
  color: black;
  padding: .8rem;
}

.carousel-inner {
  max-height: calc(100vh - 108px);
  overflow-y: scroll;
  scrollbar-width: none;
}

.carousel-inner {
  max-height: calc(100vh - 110px);
}


.carousel-inner::-webkit-scrollbar {
  scrollbar-width: none;
  display: none;
  width: 0;
}

.carousel-inner p {
  text-align: left;
  -webkit-hyphens: auto;
  -webkit-hyphenate-limit-before: 3;
  -webkit-hyphenate-limit-after: 3;
  -webkit-hyphenate-limit-chars: 6 3 3;
  -webkit-hyphenate-limit-lines: 2;
  -webkit-hyphenate-limit-last: always;
  -webkit-hyphenate-limit-zone: 6%;
  -moz-hyphens: auto;
  -moz-hyphenate-limit-chars: 6 3 3;
  -moz-hyphenate-limit-lines: 2;
  -moz-hyphenate-limit-last: always;
  -moz-hyphenate-limit-zone: 6%;
  -ms-hyphens: auto;
  -ms-hyphenate-limit-chars: 6 3 3;
  -ms-hyphenate-limit-lines: 2;
  -ms-hyphenate-limit-last: always;
  -ms-hyphenate-limit-zone: 6%;
  hyphens: auto;
  hyphenate-limit-chars: 6 3 3;
  hyphenate-limit-lines: 2;
  hyphenate-limit-last: always;
  hyphenate-limit-zone: 6%;
}



img {
  max-width: 100%;
  max-height: 100%;
  
}

.carousel-control-prev-icon {
  filter: invert(32%) sepia(1%) saturate(2785%) hue-rotate(324deg) brightness(101%) contrast(87%);
}

.carousel-control-next-icon {
  filter: invert(32%) sepia(1%) saturate(2785%) hue-rotate(324deg) brightness(101%) contrast(87%);
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  filter: invert(32%) sepia(1%) saturate(2785%) hue-rotate(324deg) brightness(101%) contrast(87%);
}

.carousel-inner > .item > .img {
  margin: 0 auto;
}

.carousel-image {
  overflow: hidden;
  position: relative;
  padding-top: 0.7em;
}

.carousel-image .image-credit {
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.image-credit {
  background: rgba(0, 0, 0, 0.7);
  color: #ccc;
  display: inline-block;
  font-size: 0.6em;
  padding: 2px 6px;
  position: absolute;
  border-radius: 0rem 0rem .25rem 0rem;
  bottom: 0;
  right: 0;
}

.carousel-item.active {
  display: flex;
  justify-content: center;
  align-items: center;
}
