.marker {
  background-image: url('/images/marker.png');
  background-size: cover;
  filter: invert(32%) sepia(1%) saturate(2785%) hue-rotate(324deg) brightness(101%) contrast(87%);
  width: 35px;
  height: 35px;
  cursor: pointer;
}
